{% extends "base.html" %}
{% block title %}Mentions légales{% endblock %}
{% block content %}
<main class="mentions-legales">
    <h1>Mentions légales</h1>
    <p><strong>Nom de l'entreprise : killianp-dev</strong></p>
    <p><strong>Adresse :</strong> aucune adresse physique liée</p>
    <p><strong>Responsable de la publication :</strong> Killian P</p>
    <p><strong>Email :</strong> contact@killianp-dev.fr</p>
    <p><strong>Hébergement :</strong> AWS - EC2</p>
    <p><strong>SIRET :</strong> Non immatriculé</p>
    <p><strong>Propriété intellectuelle :</strong>MIT</p>
    <p><strong>Contact :</strong> contact@killianp-dev.fr</p>
</main>
{% endblock %} 